
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form (ngSubmit)="signup()">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" class="signup__input" placeholder="Username" [(ngModel)]="username" name="username" required>
					<input type="email" class="signup__input" placeholder="Email" [(ngModel)]="Email" name="email" required>
					<input type="password" class="signup__input" placeholder="Password" [(ngModel)]="Password" name="password" required >
					<button  type="submit">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form (ngSubmit)="Login()">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" class="login__input" placeholder="Email" [(ngModel)]="Email" name="email" required >
					<input type="password" class="login__input" placeholder="Password" [(ngModel)]="Password" name="password" required >
					<button type="submit" >Login</button>
				</form>
			</div>
	</div>
</body>
